body {
    background-image: url('train.jfif');
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #001D29;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFB05C;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #FF890A;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FDD686;
    color: black;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: white;
}

/* to push the content to the right when the side nav bar is opened */
#main {
    transition: margin-left .5s; /* for a transition effect */
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #FDD686;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #001D29;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#FDD686;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #002B3D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #FDD686;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #000E14;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  * {box-sizing: border-box}

  .torm {
    background-color: #F57E00;
    opacity: 0.7;
    border:5px solid #000E14;
    border-radius: 70px 40px;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
  }

* {
    margin: 0; padding: 0; box-sizing: border-box;
}


/* for the radio button for the begining */

  /* for the checkboxes*/
  .standard {
      margin-top: 50px;
      margin-left: 20px;
      margin-right: 150px;
  }

  .oneway {
      margin-left: 20px;
      margin-right: 150px;
  }

  /* for the from and to */
  .from {
      margin-left:20px;
      margin-top: 18px;
      height: 70px;
  }

  /* fot the traveler part */
  select:invalid{
    color: #000E14;
}
option{
    color: #FDC85E;
}

.one {
    font-size: 15px;
    background-color: #002B3D;
}

.one:hover {
    background-color: #000E14;
}

.two {
    margin-left:20px;
      margin-top: 18px;
      height: 70px;
}

/* for the date */
.day {
    margin-left:10px;
      margin-top: 18px;
      height: 40px;
}

/* for find train button */
.find {
    margin-left:20px;
      margin-top: 18px;
      height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    background: #3D2000;
    opacity: 1;
    border: 3px solid #FDC85E;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
  }
  span, 
  svg {
    position: absolute;
    color: #FDC85E;
    fill: transparent;
    font-size: 18px;
  }

  button:hover { font-size: 14px; }

  button:focus {
    outline: none;
    border: 2px solid transparent;
    width: 50px;
    border-left: 2px solid #FDC85E;
    border-bottom: 2px solid #FDC85E;
    animation: spin 2s 500ms forwards;
  }

  button:focus span { color: transparent; }
  button:focus svg {
    animation: check 500ms 2300ms forwards;
  }
  
  @keyframes spin {
    80% {
      border: 2px solid transparent;
      border-left: 2px solid #FDC85E;
    }
    100% {
      transform: rotate(1080deg);
      border: 2px solid #FDC85E;
    }
  }

  @keyframes check {
    to {
      fill: #FDC85E;
    }
  }

  @keyframes circle {
    to {
      border: 2px solid #FDC85E;
    }
  }

/* for the footer wavy*/

section {
    position: relative; width: 100%; height: 30vh; background: #522A00;
    overflow: hidden;
}

section .wave {
    position: absolute; bottom: 0; left: 0; width: 100%; height: 198px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg");
    background-size: 1600px 198px;
}

section .wave.wave1 {
    animation: animate-wave-2 5s linear infinite; z-index: 1000;
    opacity: 1; animation-delay: 0s; bottom: 0;
}

section .wave.wave2 {
    animation: animate-wave-2 5s linear infinite; z-index: 999;
    opacity: 0.5; animation-delay: -5s; bottom: 10px;
}

section .wave.wave3 {
    animation: animate-wave-3 10s linear infinite; z-index: 998;
    opacity: 0.2; animation-delay: -2s; bottom: 15px;
}

section .wave.wave4 {
    animation: animate-wave-4 2s linear infinite; z-index: 997;
    opacity: 0.7; animation-delay: -5s; bottom: 20px;
}

@keyframes animate-wave-1 { 0% {background-position-x: 0;}
                            100% {background-position-x: 1600px;}
}
@keyframes animate-wave-2 { 0% {background-position-x: 0;}
                            100% {background-position-x: -1600px;}

}
@keyframes animate-wave-3 { 0% {background-position-x: 0;}
                            100% {background-position-x: 1600px;}
}
@keyframes animate-wave-4 { 0% {background-position-x: 0;}
                            100% {background-position-x: -1600px;}

}
